{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            welcome to python
        </h1>
        <h2><a href="{% url 'fayyu1:python' %}"> go to django </a></h2>
        <link rel="stylesheet" href="{% static 'css/c2.css' %}">
        <img src="{% static 'images/py.jpg' %}" alt="" srcset="" height="200px" width="200px">
    </center>
</body>
</html>